@model IEnumerable<Attendance_System.ViewModels.TeacherAllocatedCourses>

@{
    ViewBag.Title = "Teacher";
}

<h2>Teacher</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table table-striped table-bordered" id="mydata">
    <thead>
        <tr>

            <th>
                @Html.DisplayNameFor(model => model.className)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.courseName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.totalStudent)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.isTheory)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>

                <td>
                    @Html.DisplayFor(modelItem => item.className)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.courseName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.totalStudent)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.isTheory)
                </td>
                <td>
                    @Html.ActionLink("Details", "Details", new { classID = item.classID, courseCode = item.courseCode })
                </td>
            </tr>
        }
    </tbody>
</table>
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/datatable")
    <script>
        $(document).ready(function () {
            $('#mydata').DataTable();
        });
    </script>
}
